{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="addTestDiv">
                    <h4>Create test</h4>

                    <form action="{% url 'createTest' %}" method='post'>
                        {% csrf_token %}
                        <div class="mb-3">
                            <label class="form-label">{{form.title.label_tag}}</label>
                            <div class="testTitieDiv">
                                <input type="text" class="form-control" name="title"/>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>{{form.duration.label_tag}}</label>
                            <div class="timeDiv">
                                <input class="form-control" style="" name="duration" type="time"/>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>{{form.subject.label_tag}}</label>
                            <div class="testSubjectDiv">
                                <input class="form-control" name="subject" type="text"/>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>{{form.description.label_tag}}</label>
                            <div class="descDiv">
                                <textarea class="form-control" name="description">

                                </textarea>
                            </div>
                        </div>
                        <button class='btn btn-success' type='submit'>add questions</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        let handleTime = () =>{

        }

    </script>
{% endblock %}