{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12" style="padding:30px; justify-content:center; ">
            <div class="card startTestCard">
                <div class="startTest">
                    <div class="">
                        <h2>{{test.title}}</h2>
                    </div>
                    <div class="duration">
                        <p>Duration: </p>
                        <p>{{test.duration}} mins.</p>
                    </div>
                    <p>{{test.description}}</p>
                    
                </div>
                <div class="startTestBtn">
                    <a href="{% url 'testing' test.title %}">
                        <button class="btn btn-success">Start Test</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock  %}