{% extends 'base.html' %}

{% block content %}
    <form action="{% url 'testSubmit' %}" method="post">
        {% csrf_token %}
        {% for q in questions %}
            <div class="form-group">
                {%for key, value in q.items%}
                    <label>{{key}}</label>
                    <ul>
                        {% for a in  value%}
                            <li>
                                <input type="checkbox" class="form-check-input" name="{{key}}" value="{{a.correct}}"/>
                                <label>{{a.answer_text}}</label>
                            </li>
                        {% endfor %}
                    </ul>
                {%endfor%}
                <button class="btn btn-primary" type="Submit">Submit</button>
            </div>
        {% endfor %}
    </form>

{% endblock  %}