{% extends 'base.html' %}
{% load static %}

{% block content%}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="dashTitle">
                    <h3 style="font-weight:bold; color:#BDB5D5;">DASHBOARD</h3>  
                    <p>Welcome {{name}}</p>
                </div>
                <div class="dashTestList">
                    <div class="dashList">
                        <div class="list-group">
                            {% if tests|length > 0 %}
                                {% for t in tests %}
                                    <a href="{% url 'viewTest' %}" class="list-group-item list-group-item-action">
                                        <p style="font-weight:bold; font-size:30px"> {{t.title}} </p>
                                        <p><span style="font-style:italic;">subject </span> <span style="font-weight:bold">{{t.subject}}</span></p>
                                        <p><span style="font-style:italic;">added on </span> <span style="font-weight:bold">{{t.created}}</span></p>
                                    </a>
                                {% endfor %}
                            {% else %}
                                <p>You have not created any tests yet.</p>                           
                            {% endif %}

                        </div>
                    </div>
                    <div class="dashCreateTest">
                        <a href="{% url 'createTest' %}">
                            <button  class="btn btn-primary">
                                Create Test
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

{% endblock %}