{% extends 'base.html' %}

{% block  content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12" >
                <div class="viewTestDiv">
                    <div class="viewTestTitle">
                        <h3>{{title}}</h3>
                        </br>
                        <p>Duration: {{duration}} mins.</p>
                        </br>
                        <p>{{description}}</p>
                    </div>
                    <div>
                        <ol>
                        {% for q in questions %}
                            {%for key, value in q.items%}
                                <li>
                                    <div>
                                        <h5>{{key}}</h5>
                                        {%for a in value %}
                                            <p style="padding-left:30px;">{{a}}</p>
                                        {%endfor%}
                                    </div>
                                </li>
                            {%endfor%}
                        {%endfor%}
                        <ol/>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock  %}