{% extends 'base.html' %}
{% load static %}


{% block  content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12" >
                <div class="viewTestDiv">
                    <div class="viewTestTitle">
                        <div class="testTitle">
                            <h3>{{title}}</h3>
                            </br>
                            <p>Duration: {{duration}}</p>
                            </br>
                            <p>{{description}}</p>
                        </div>
                        <div class="testEditDiv">
                            <a href="{% url 'updateTest' testID %}">
                                <i class="fa fa-pencil-square fa-2x" color="gray">
                                </i>
                            </a>
                            <a href="#" data-bs-toggle="modal" data-bs-target="#delTestModal">
                                <i class="fa fa-trash" style="font-size:30px;"></i>
                            </a>
                        </div>
                    </div>
                    <div class="viewTestQns">
                        <ol>
                        {% for q in questions %}
                            {%for key, value in q.items%}
                                <li>
                                    <div>
                                        <div class="editQn">
                                            <h5>{{key}}</h5>
                                            {% comment %} <a href="#">
                                                <i class="fa fa-pencil-square fa-2x" color="gray">
                                                </i>
                                            </a> {% endcomment %}
                                        </div>
                                        {%for a in value %}
                                            <p style="padding-left:30px;">{{a}}</p>
                                        {%endfor%}
                                    </div>
                                </li>
                            {%endfor%}
                        {%endfor%}
                        <ol/>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- Modal -->
        <div 
          class="modal fade regModal" 
          id="delTestModal" 
          tabindex="-1" 
          aria-labelledby="delTextLabel" 
          aria-hidden="true"
          >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body regModalBody">
                  <div class="regWord">
                    <p>
                        Are you sure you want to delete <span style="font-weight:bold;">{{title}}</span> ?
                    </p>
                  </div>
                  <div class="regButton">
                    <a href="{% url 'deleteTest' testID %}">
                      <button class="btn btn-danger">
                        Delete
                      </button>
                    </a>
                    <a href="#">
                      <button class="btn btn-primary">
                        Cancel
                      </button>
                    </a>
                  </div>

              </div>
            </div>
          </div>
        </div>
{% endblock  %}