.topHeader{
    padding: 30px;
    text-align: center;
    font-style: italic;
    height: 150px;
}
.footer{
    background-color: whitesmoke;
}
.srchDiv{
    border-bottom-style:solid;
    border-bottom-color: #6AB943;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: end;
}
.startTest{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    padding: 20px;
    text-align: center;
}
.duration{
    display: flex;
    justify-content: center;
}
.startTestBtn{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.startTestBtn button{
    width: 200px;
}
.startTestCard{
    width: 80%;
    background-color: whitesmoke;
}
.regDiv{
    padding: 10px;
}
.regTitle{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-top: 10px;
}
.dashTitle{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color:;
    border-bottom-style:solid;
    border-bottom-color: coral;
}
.dashTestList{
    display: flex;
    justify-content: space-between;
    padding-top:20px;
}
.addQuestion{
    padding: 30px;
}
.addQuestionCard{
    width: 600px;
    padding: 20px;;
}
.answerQnDiv{
    height: 50px;
    padding: 10px;
}
.answersDiv{
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.ansCreateDiv{

    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.viewTestTitle{
    text-align: center;
    width: 100%;
    padding: 20px;
    display: flex;
    border: solid 1px;
    border-radius: 10px;
    border-color: #6AB943;
}
.viewTestDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 20px;
    width: 100%;
}
.viewTestQns{
    padding-top: 10px;
}
.testTitle{

    width: 80%;
}
.testingDiv{
    padding: 30px;
}
.testingCard{
    width: 900px;
    padding: 20px;
}
.testingDivBtn{
    width: 100%;
    display: flex;
    justify-content: center;
}

.testingDivBtn button{
    width: 200px;
    
}

.scoreDiv{
    padding: 30px;
    display: flex;
    justify-content: center;
}
.scoreCard{
    width: 500px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.scoreCardBody{
    width: 100%;
}
.mark{
    display: flex;
    justify-content: space-around;
}
.markLabel{
    width: 50%;
}
.markScore{
    width: 50%;
    display: flex;
    justify-content: start;
    padding-top: 2px;
}
.totalmarkLabel{
    width: 50%;
}
.totalmarkScore{
    width: 50%;
    display: flex;
    justify-content: start;
    padding-top: 2px;
}
.totalmark{
    display: flex;
    justify-content: space-around;
}
.summary{
    padding-top: 10px;
}

.loginDiv{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* background-color: coral; */
    justify-content: center;
    padding: 30px;
}
.loginCard{
    width: 400px;
}
.editQn{
    display: flex;
    justify-content: space-between;
    width: 865px;
}
.regWord{
    height: 100px;
    text-align: center;
    padding: 10px;
}
.regButton{

    display: flex;
    justify-content: space-around;
}
.timeDiv{
    display: flex;
    justify-content: space-between;
    width: 400px;
}
.timeDiv input{
    width: 100px;
}
.descDiv{
    width: 400px;
}
.testTitieDiv{
    width: 400px;
}
.testSubjectDiv{
    width: 400px;
}
.testingtimeDiv{
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}
.testEditDiv{
    width: 10%;
    display: flex;
    justify-content: space-between;

}
.testEditDiv i{
    color:gray;
}
.examinerRegCard{
    background-color: coral;
    padding: 10px;
}